$tablet-breakpoint: 426px;
$desktop-breakpoint: 1280px;
$brainFlix-Black: #323232;
$brainFlix-Blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$brainFlix-DarkBlack: #000;
$brainFlix-DarkBlue: #0065AD;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;